
<ul id="ulid">
    <div class="mt-4">
      <h1 class="mt-4">Choose Your File...</h1>
    </div>
      <li id="liid">
        <div class="download android">
          <i class="fa fa fa-android fa-3x"></i>
          <span class="df">Download from</span>
          <span class="dfn">Google Play</span>
        </div>
      </lI>
      <li id="liid">
        <div class="download apple">
          <i class="fa fa fa-apple fa-3x"></i>
          <span class="df">Download from</span>
          <span class="dfn">App Store</span>
        </div>
      </li>
      <li id="liid">
        <div class="download windows">
          <i class="fa fa fa-windows fa-3x"></i>
          <span class="df">Download from</span>
          <span class="dfn">Windows Store</span>
        </div>
      </li>
      
</ul>